click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
ecs-logging==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.2.0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
setuptools==69.1.0 ; python_version >= "3.9" and python_version < "4.0"
svgwrite==1.4.3 ; python_version >= "3.9" and python_version < "4.0"
tree==0.2.4 ; python_version >= "3.9" and python_version < "4.0"
uuid==1.30 ; python_version >= "3.9" and python_version < "4.0"
